---
title: Placing Workloads in a Hybrid PAS / PKS Environment
owner: PCF Documentation
---

<strong><%= modified_date %></strong>

This topic provides guidance on how to split workloads between Pivotal Application Service (PAS) and Pivotal Container Service (PKS) and determine which runtime is better suited to running a specific workload type.

## <a id="overview"></a>Overview

PAS works best for apps that you develop yourself and update often, and which store all state data using external services.
As an opinionated platform, it streamlines app management and continuously optimizes for maximum app availability per infrastructure consumption.

PKS works best for containerized apps that others develop and maintain, and which keep state data within the run container.
As a do-it-yourself platform, it runs workloads in container images on infrastructure you control and manage yourself.

## <a id="about-pas"></a>About PAS Deployments

Configuring and running an app on PAS can be done in minutes.
You can leverage databases and other services from the built-in marketplace.
Connection details and credentials for built-in services are generated automatically.

You can deploy a basic PAS app with the following:

+ App manifest
+ (Optional) Services from the built-in marketplace

You can push the app with a single `cf push` command.

## <a id="about-pks"></a>About PKS Deployments

Configuring and running an app on PKS takes a few hours.
You must create and maintain the database and any other services yourself.
Apps use blue-green deployment by default.

You can deploy a basic PKS app with the following:

+ Configuration manifest
+ Service manifest
+ Database manifest
+ App manifest

You push the app by running `kubectl apply` for each manifest.

## <a id="factors"></a>Decision Factors

Consider the factors in this section when deciding whether you deploy an app to PAS or PKS.

### <a id="pas-factors"></a>Workloads on PAS

Factors suggesting that you **should** deploy an app to PAS:

+ You are deploying a stateless app that you develop yourself.
+ You need to configure and run an app in minutes.

Factors suggesting that you **must** deploy an app to PAS:

+ Developers need the ability to push the app without managing infrastructure.

### <a id="pks-factors"></a>Workloads on PKS

Factors suggesting that you **should** deploy an app to PKS:

+ You are deploying an app provided by a vendor.
+ A traditional infrastructure team maintains the platform.

Factors suggesting that you **must** deploy an app to PKS:

+ Your app needs to run single-tenant clusters.
+ You need to run a stateful service.
+ Your workload requires persistent storage.
