---
title: Choosing PAS or PKS
owner: PCF Documentation
---

<strong><%= modified_date %></strong>

This topic provides guidance on how to split workloads between Pivotal Application Service (PAS) and Pivotal Container Service (PKS) and determine which runtime is better suited to running a specific workload type.

Before you can deploy PAS or PKS, you must deploy BOSH and Ops Manager.
You use Ops Manager to deploy the PAS and PKS runtime tiles.
For more information, see [Deploying BOSH and Ops Manager](deploy-bosh-om.html).

## <a id="overview"></a>Overview

The following table describes some of the differences between PAS and PKS:

<table>
  <tr>
    <th>Pivotal Application Service (PAS)...</th>
    <th>Pivotal Container Service (PKS)...</th>
  </tr>
  <tr>
    <td>works best for apps that you develop yourself and update often.</td>
    <td>works best for containerized apps that others develop and maintain.</td>
  </tr>
  <tr>
    <td>works best for apps which store state data using external services.</td>
    <td>works best for apps which store state data within the run container.</td>
  </tr>
  <tr>
    <td>is an opinionated platform that streamlines app management.</td>
    <td>is a do-it-yourself platform that lets the operator determine how containers run.</td>
  </tr>
  <tr>
    <td>continuously optimizes for maximum app availability per infrastructure consumption.</td>
    <td>runs workloads on infrastructure you control and manage yourself.</td>
  </tr>
</table>

## <a id="about-pas"></a>About PAS Deployments

Configuring and running an app on PAS can be done in minutes.
You can leverage databases and other services from the built-in marketplace.
Connection details and credentials for built-in services are generated automatically.

You can deploy a basic PAS app with the following:

+ App manifest
+ (Optional) Services from the built-in marketplace

You can push the app with a single `cf push` command.

For more information, see the [PAS](./pas.html) documentation.

## <a id="about-pks"></a>About PKS Deployments

Configuring and running an app on PKS takes a few hours.
You must create and maintain the database and any other services yourself.
Apps use blue-green deployment by default.

You can deploy a basic PKS app with the following:

+ Configuration manifest
+ Service manifest
+ Database manifest
+ App manifest

You push the app by running `kubectl apply` for each manifest.

For more information, see the [PKS](../../../runtimes/pks/index.html) documentation.

## <a id="factors"></a>Decision Factors

Consider the factors in this section when deciding whether you deploy an app to PAS or PKS.

### <a id="pas-factors"></a>Workloads on PAS

Factors suggesting that you **should** deploy an app to PAS:

+ You are deploying a stateless app that you develop yourself.
+ You need to configure and run an app in minutes.

Factors suggesting that you **must** deploy an app to PAS:

+ Developers need the ability to push the app without managing infrastructure.

### <a id="pks-factors"></a>Workloads on PKS

Factors suggesting that you **should** deploy an app to PKS:

+ You are deploying an app provided by a vendor.
+ A traditional infrastructure team maintains the platform.

Factors suggesting that you **must** deploy an app to PKS:

+ Your app needs to run single-tenant clusters.
+ You need to run a stateful service.
+ Your workload requires persistent storage.
